# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment / secrets
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/

# Logs
*.log

*.sql
*.dump

# OS
.DS_Store
Thumbs.db

*.py[cod]

# Tests/cache
.pytest_cache/
.coverage
htmlcov/

# Temporary
*.tmp
*.bak
