PROJECTX_ENV=development

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=projectx
MYSQL_PASSWORD=change_me
MYSQL_AUTH_DATABASE=hospital_auth

JWT_SECRET=change_me_in_real_env
JWT_ALGORITHM=HS256
JWT_EXPIRATION_MINUTES=480

AUTH_GRPC_HOST=0.0.0.0
AUTH_GRPC_PORT=50051
